.description {

  &__specification {

  }
}
.specification {
  &__container {
    margin-bottom: 75px;
    @media (max-width: 975px) {
      margin-bottom: 50px;}
  }
  &__title {
    font-family: Oswald;
    font-size: 60px;
    line-height: 60px;
    color: #111111;
    margin-bottom: 63px;
    @media (max-width: 975px) {
      margin-bottom: 50px;
    }
    @media (max-width: 768px) {
      font-size: 36px;
      margin-bottom: 35px;
      line-height: 60px;
    }
  }
  &__list {
  display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 975px) {
      border-bottom: 1px solid  #f2f2f2;
      padding-bottom: 50px;
    }

  }
  &__item {
    @media (max-width: 975px) {
      flex:0 0 40%;
      margin-bottom: 40px;
    }
    @media (max-width: 768px) {
      flex:1 1 100%;
      margin-bottom: 5px;
    }

  }

}

.specification-item {

  @media (max-width: 768px) {
    padding: 10px 10px 10px 0;
    flex-direction: row;
    display: flex;
  }
  display: flex;
  flex-direction: column;
  position: relative;


  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    font-family: Oswald;
    font-size: 281.1px;
    line-height: 203px;
    color: #f2f2f2;
  }
  &_1 {
    &:after {
      content:"1";
      @media (max-width: 768px) {
        content:"";
      }
    }
  }
  &_2 {
    &:after {
      content:"2";
      @media (max-width: 768px) {
        content:"";
      }
    }
  }
  &_3 {
    &:after {
      content:"3";
      @media (max-width: 768px) {
        content:"";
      }
    }
  }
  &_4 {
     &:after {
       content:"4";
       @media (max-width: 768px) {
         content:"";
       }
     }
   }

  &__icon {
    flex: 0 0 auto;
    width: 80px;
    height: 80px;
    background-color: $bgm;
    position: relative;
    margin-bottom: 35px;
    margin-right: 149px;
    @media (max-width: 768px) {
     margin-right: 20px;
      margin-bottom: 0px;

    }
    &:after {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      background-size: cover;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }


    &_1 {
      &:after {
        content: "";
        background: url("../img/icon/description/description_1.png") center no-repeat;
      }
    }
    &_2 {
      &:after {
        content: "";
        background: url("../img/icon/description/description_2.png") center no-repeat;
      }

    }
    &_3 {
      &:after {
        content: "";
        background: url("../img/icon/description/description_3.png") center no-repeat;
      }
    }
    &_4 {
      &:after {
        content: "";
        background: url("../img/icon/description/description_4.png") center no-repeat;
      }
    }

  }
  &__text {
    position: relative;
    z-index: 2;
    max-width: 201px;
    margin-bottom: 19px;
    margin-left: 5px;
    @media (max-width: 768px) {
      text-align: center;
      max-width: 100%;

    }
}

}



.description__example {

}
.example {

  &__container {
    background-color: #f2f2f2;
    position: relative;
    padding-bottom: 80px;
    @media (max-width: 975px) {
      background-color: #ffff;
      padding-bottom: 0px;
    }
    @media (max-width: 768px) {
      background-color: #f2f2f2;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      height: 72%;
      width: 100%;
      background: linear-gradient(to right, #f2f2f2 71.8%, #eaeaea 28.2%);
      z-index: -1;
    }

  }
  &__title {
    font-family: Oswald;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: #111111;
    margin-top: 30px;
    margin-bottom: 65px;
    @media (max-width: 975px) {
      margin-bottom: 60px;
    }


  }
  &__wrapper {
    display: flex;
    position: relative;
    @media (max-width: 975px) {
      flex-direction: column;
    }

  }
  &__description {
    display: flex;
    flex-direction: column;
    padding-top: 75px;
    margin-right: 135px;
    @media (max-width: 1280px) {
      margin-right: -20px;
    }
    @media (max-width: 975px) {
      padding-bottom: 170px;
    }

  }

  &__wrap {
    @media (max-width: 975px) {
      display: flex;}
      @media (max-width: 768px) {
        display: block;
        margin: 0 auto;
      }
  }
  &__text {
   max-width: 430px;
   margin-bottom: 68px;
    @media (max-width: 975px) {
      max-width: 100%;
      margin-bottom: 50px;
    }
    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 27px;

    }

  }
  &__fact {
    display: flex;
    @media (max-width: 975px) {
      flex: 1 1 100%;
    }

    div {
      padding: 17.5px 58px;
      border: 1px solid #cdcdcd;
      border-radius: 3px;
      position: relative;
      margin-bottom: 62px;
      @media (max-width: 768px) {
        display: flex;
        width: 124px;
        height: 56px;
        padding: 0;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
      }
    }

    span {
      font-family: Oswald;
      font-size: 30px;
      line-height: 37px;
      font-weight: 400;
      text-transform: uppercase;
      color: #111111;
      @media (max-width: 768px) {
        font-family: Oswald;
        font-size: 24px;
        line-height: 24px;
    }
  }}
  &__mass {
    margin-right: 42px;

  &:before {
    content: "снижение веса";
    padding: 7px;
    background-color: #f2f2f2;
    position: absolute;
    top: 53px;
    left: 50%;
    transform: translate(-50%, 0px);
    white-space: nowrap;
    @media (max-width: 975px) {
      background-color: #ffff;
    }
    @media (max-width: 768px) {
      padding: 0px;
      white-space: normal;
      font-size: 12px;
      line-height: 12px;
      top: 42px;
      text-align: center;
      background-color: #f2f2f2;
    }



  }
  }
  &__term {
    &:before {
      content: "затрачено времени";
      padding: 7px;
      background-color: #f2f2f2;
      position: absolute;
      top: 53px;
      left: 50%;
      transform: translate(-50%, 0px);
      white-space: nowrap;
      @media (max-width: 975px) {
        background-color: #ffff;
      }
      @media (max-width: 768px) {
        padding: 0px;
        white-space: normal;
        font-size: 12px;
        line-height: 12px;
        top: 42px;
        text-align: center;
        background-color: #f2f2f2;
      }

    }

  }
  &__total {
    display: flex;
    @media (max-width: 975px) {
      flex-wrap: wrap;
    }
    span{
      font-family: Oswald;
      font-size: 20px;
      line-height: 20px;
      font-weight: 400;
      text-transform: uppercase;
      color: #111111;
    }

  }
  &__cost-text {
    flex: 0 1 269px;
    @media (max-width: 768px) {
      position: relative;
      flex: 0 1 auto;
    }
  }
  &__cost {
    @media (max-width: 975px) {
      position: relative;
      top: -36px;
    }
    @media (max-width: 768px) {
      position: relative;
      top: 0px;
    }

  }
  &__range-slider {
    position: relative;
    @media (max-width: 975px) {
      background-color: #f2f2f2;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-bottom: 70px;


    }
    @media (max-width: 768px) {
      //margin-top: 46px;
    }


  }
  &__img {
    position: absolute;
    top: -170px;
      @media (max-width: 1280px) {
        top: -110px;
      }
    @media (max-width: 975px) {
      top: -200px;
      position: relative;
    }
    @media (max-width: 768px) {
      top: -180px;
      margin-top: 30px;
    }
    img {
      @media (max-width: 1280px) {
        width: 600px;
      }
      @media (max-width: 1124px) {
        width: 570px;
      }
      @media (max-width: 975px) {
        width: 100%;
      }
    }



  }
  &__slider {

  }
}
.slider-range {
  margin-top: 376px;
  margin-left: 150px;
  position: absolute;
  bottom: 0;
  @media (max-width: 1280px) {
    margin-left: 80px;
  }
  @media (max-width: 975px) {
    position: relative;
    margin-top: -145px;
    margin-left: 0px;
  }
  &__body {
    position: relative;
    &:after, &:before{
      position: absolute;
      font-family: Oswald;
      font-size: 20px;
      line-height: 20px;
      font-weight: 400;
      text-transform: uppercase;
      color: #111111;
      border-bottom: 1px  dashed #cdcdcd;
      padding-bottom: 6px;

    }
    &:after {
      content: "было";
      top: -9px;
      left: -80px;
    };
    &:before {
      content: "стало";
      top: -9px;
      right: -80px;
    };
  }
  .noUi-target {
    background: inherit;
    box-shadow: none;
    width: 428px;
    height: 6px;
    background-color: #dcdcdc;
    border-radius: 2.5px;
    @media (max-width: 1280px) {
      width: 335px
    }
    @media (max-width: 768px) {
      width: 84px;
      height: 14px;

    }


  }
  .noUi-handle {
    border-radius: 50%;
    background-color: #fff;
    width: 34px;
    height: 34px !important;
    position: relative;
    top: 0;
    @media (max-width: 768px) {
    display: none;

    }

    &:after, &:before {
      display: none;
    }
  }
  .noUi-touch-area {
    width: 8px;
    height: 8px;
    background-color: $bgm;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .noUi-origin {

   margin-top: -8px;
    @media (max-width: 768px) {
      display: none;}
  }
  .noUi-connects {
    @media (max-width: 768px) {
    background-color: $bgm;
    width: 34px;}
  }


}
