.description {

  &__specification {

  }
}
.specification {
  &__container {
    margin-bottom: 75px;

  }
  &__title {
    font-family: Oswald;
    font-size: 60px;
    line-height: 60px;
    color: #111111;
    margin-bottom: 63px;
    @media (max-width: 768px) {
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 35px;
    }
  }
  &__list {
  display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 975px) {

    }


  }
  &__item {
    @media (max-width: 975px) {
      flex:0 0 40%;
      margin-bottom: 40px;
    }
    @media (max-width: 768px) {
      flex:1 1 100%;
      margin-bottom: 5px;
    }

  }

}

.specification-item {

  @media (max-width: 768px) {
    padding: 10px 10px 10px 0;
    flex-direction: row;
    display: flex;
  }
  display: flex;
  flex-direction: column;
  position: relative;


  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    font-family: Oswald;
    font-size: 281.1px;
    line-height: 203px;
    color: #f2f2f2;
  }
  &_1 {
    &:after {
      content:"1";
      @media (max-width: 768px) {
        content:"";
      }
    }
  }
  &_2 {
    &:after {
      content:"2";
      @media (max-width: 768px) {
        content:"";
      }
    }
  }
  &_3 {
    &:after {
      content:"3";
      @media (max-width: 768px) {
        content:"";
      }
    }
  }
  &_4 {
     &:after {
       content:"4";
       @media (max-width: 768px) {
         content:"";
       }
     }
   }

  &__icon {
    flex: 0 0 auto;
    width: 80px;
    height: 80px;
    background-color: #68b738;
    position: relative;
    margin-bottom: 35px;
    margin-right: 149px;
    @media (max-width: 768px) {
     margin-right: 20px;
      margin-bottom: 0px;

    }
    &:after {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      background-size: cover;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }


    &_1 {
      &:after {
        content: "";
        background: url("../img/icon/description/description_1.png") center no-repeat;
      }
    }
    &_2 {
      &:after {
        content: "";
        background: url("../img/icon/description/description_2.png") center no-repeat;
      }

    }
    &_3 {
      &:after {
        content: "";
        background: url("../img/icon/description/description_3.png") center no-repeat;
      }
    }
    &_4 {
      &:after {
        content: "";
        background: url("../img/icon/description/description_4.png") center no-repeat;
      }
    }

  }
  &__text {
    position: relative;
    z-index: 2;
    max-width: 201px;
    margin-bottom: 19px;
    margin-left: 5px;
    @media (max-width: 768px) {
      text-align: center;
      max-width: 100%;

    }
}

}



.description__example {

}
.example {


  &__container {
    background-color: #f2f2f2;
    position: relative;
    padding-bottom: 80px;
    &:after {
      //background-color: #eaeaea;
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      height: 72%;
      width: 100%;
      background: linear-gradient(to right, #f2f2f2 71.8%, #eaeaea 28.2%);
      z-index: -1;
    }



  }

  &__title {
    font-family: Oswald;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: #111111;
    margin-top: 30px;
    margin-bottom: 65px;


  }
  &__wrapper {
    display: flex;
    position: relative;


    &__before {

    }
  }
  &__description {
    display: flex;
    flex-direction: column;
  }
  &__text {
   max-width: 430px;
    margin: 68px 0;

  }
  &__fact {
    display: flex;
    div {
      padding: 17.5px 58px;
      border: 1px solid #cdcdcd;
      border-radius: 3px;
      position: relative;
      margin-bottom: 62px;
    }

    span {
      font-family: Oswald;
      font-size: 30px;
      line-height: 37px;
      font-weight: 400;
      text-transform: uppercase;
      color: #111111;
    }
  }
  &__mass {
    margin-right: 42px;

  &:before {
    content: "снижение веса";
    padding: 7px;
    background-color: #f2f2f2;
    position: absolute;
    top: 53px;
    left: 50%;
    transform: translate(-50%, 0px);
    white-space: nowrap;

  }

  }
  &__term {
    &:before {
      content: "затрачено времени";
      padding: 7px;
      background-color: #f2f2f2;
      position: absolute;
      top: 53px;
      left: 50%;
      transform: translate(-50%, 0px);
      white-space: nowrap;

    }

  }
  &__total {
    display: flex;
    span{
      font-family: Oswald;
      font-size: 20px;
      line-height: 20px;
      font-weight: 400;
      text-transform: uppercase;
      color: #111111;
    }

  }
  &__cost-text {
    flex: 0 1 269px;

  }
  &__cost {

  }
  &__range-slider {


  }
  &__img {
    position: absolute;
    top: -170px;
    right: 0;

  }
  &__slider {

  }
}


.slider-range {
  position: absolute;
  bottom: 0;
  margin-left: 322px;
  &__body {
    position: relative;
    &:after, &:before{
      position: absolute;
      font-family: Oswald;
      font-size: 20px;
      line-height: 20px;
      font-weight: 400;
      text-transform: uppercase;
      color: #111111;
      border-bottom: 1px  dashed #cdcdcd;
      padding-bottom: 6px;

    }
    &:after {
      content: "было";
      top: -9px;
      left: -80px;
    };
    &:before {
      content: "стало";
      top: -9px;
      right: -80px;
    };
  }
  .noUi-target {
    background: inherit;
    box-shadow: none;
    width: 428px;
    height: 6px;
    background-color: #dcdcdc;
    border-radius: 2.5px;

  }
  .noUi-handle {
    border-radius: 50%;
    background-color: #fff;
    width: 34px;
    height: 34px;
    position: relative;
    top: 0;



    &:after, &:before {
      display: none;
    }
  }
  .noUi-touch-area {
    width: 8px;
    height: 8px;
    background-color: #68b738;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .noUi-origin {
   margin-top: -8px;
  }

}
