@import "mixins.scss";
/*подключение основного шрифта*/
@import "fonts";


/*шрифт по умолчанию */
$fontfamily: ArialMT sans-serif;


/*переменные*/
$minwidth: 320px;
$mw: 1300; /*прописываем вымеряную ширину контейнера (без отступов)*/
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
@import "null";

body {

  justify-content: flex-start ;
  font-family: $fontfamily;
  font-size: 16px;
  line-height: 24px;
  color: #444444;
  background-color: #fff;
  font-weight: 400;
  &_lock {
    overflow: hidden;
    @media (max-width: $md3+px) {
    }
  }
}
.index-page {
&:before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 50%;
  height: 697px;
  background-image:url("../img/green-background.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-position-x: right;
  @media screen and (max-width : 1280px) {
    background-image: none;
  }
}
}

.wrapper {
  width: 100%;
  min-height: 100%;
  //overflow: hidden;
  display: flex;
  flex-direction: column;
}
.ibg{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img{
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
@import "header";
._container {
  max-width: 1220px;
  margin: 0 auto;
  @media screen and (max-width : 1280px) {
    max-width: 970px;
  }
  @media (max-width: 975px) {
    max-width: 768px;
  }
  @media (max-width: 768px) {
    max-width: 640px;
  }
  @media (max-width: 640px){

  }

  @media (max-width: 570px){

  }

  @media (max-width: 320px) {
    max-width: none;
    padding: 0 20px;
  }
}

@import "main-banner";
@import "block-catalog";




