@import "mixins.scss";
/*подключение основного шрифта*/
@import "fonts";

/*шрифт по умолчанию */
$fontfamily: ArialMT sans-serif;

/*переменные*/
$bgm: #68b738;
@import "null";

body {
  font-family: $fontfamily;
  font-size: 16px;
  line-height: 24px;
  color: #444444;
  background-color: #fff;
  font-weight: 400;

}
.index-page {
&:before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 50%;
  height: 697px;
  background-image:url("../img/green-background.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-position-x: right;
  @media screen and (max-width : 1280px) {
    background-image: none;
  }
}
}

.wrapper {
  width: 100%;
  min-height: 100%;
  //overflow: hidden;
  display: flex;
  flex-direction: column;
}
.ibg{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.ibg img{
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
@import "header";
._container {
  max-width: 1260px;
  padding: 0 20px;

  margin: 0 auto;
  @media screen and (max-width : 1280px) {
    max-width: 975px;
  }
  @media (max-width: 975px) {
    max-width: 768px;
  }
  @media (max-width: 768px) {
    max-width: 640px;
  }
  @media (max-width: 640px){
    max-width: 570px;
  }
  @media (max-width: 570px){
    max-width: 480px;
  }
  @media (max-width: 320px) {
    max-width: none;
    padding: 0 20px;
  }
}
@import "main-banner";
@import "block-catalog";
@import "description";

.map {
  iframe {
    min-width: 100%;
    height: 400px;
  }
  }





